.container {
}

.title {
    margin-top: 20px;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span {
    color: #12ecec;
    padding-left: 15px;
}

.reset {
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 26px;
    color: #12ecec;
    margin-top: 15px;
}

.boxes {
    display: flex;
    height: 120px;
    width: 120px;
    background-color: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}

.board {
    height: 400px;
    width: 364px;
    display: flex;
    margin: auto;
}

.boxes img {
    margin: 50px 50px;
    
}

.title img {
    padding: 20px 20px;
    height: 50px;
}

@media screen and (max-width: 600px) {
    .title {
      font-size: 1.5rem;
    }
  }